.serviceListTable {
    background: white;
    padding: 30px;
    border-radius: 10px;
}
.serviceListTable thead {
    background: #F5F6FA;
}
.statusButton-pending.dropdown.btn-group button {
    background: none;
    color: #FF4545;
    border: none;
}
.statusButton-ongoing.dropdown.btn-group button {
    background: none;
    color: #FFBD3E;
    border: none;
}
.statusButton-done.dropdown.btn-group button {
    background: none;
    color: #009444;
    border: none;
}

.dropdown-toggle::after {
    margin-top: 16px;
    font-size: 26px;
}