.worksSection{
   background-color: #111430
}
.slick-dots li button:before {
   
   width: 10px;
   height: 10px;
   content: '•';
   text-align: center;
   opacity: 1;
   color: #242A65;
   font-size: 16px;
}
.slick-dots li.slick-active button:before {
   opacity: 1;
   color: #FBD062;
}
.slick-next, .slick-prev {
   width: 40px;
   height: 40px;

}
.slick-next {
   right: 20px;
}
.slick-prev {
   left: 20px;
}
.slick-next:before, .slick-prev:before {
   font-size: 32px;
   line-height: 1;
   opacity: .75;
   color: #FBD062;
}
.slider-image{
   width: 90%;
}
.slick-dots {
   position: relative;
}